.navbar, 
.sidebar {
  background: linear-gradient(135deg, var(--gradient-2-lighten-10), var(--gradient-1)) !important;
  color: var(--text-color); 
  border: none !important;
}

.dropdown-theme {
  color: var(--headers-text-color) !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
  color: var(--fg) !important;
}

.primary-btn  {
  background-color: var(--gradient-2-lighten-10) !important;
  border-color: var(--gradient-3) !important;
  color: var(--text-color) !important;
}

.primary-btn:hover {
  background-color: var(--gradient-3) !important;
  border-color: var(--gradient-2-darken-30) !important;
  color: var(--text-color-hover) !important;
}

.secondary-btn {
  background-color: var(--gradient-1) !important;
  border-color: var(--gradient-1) !important;
  color: var(--fg) !important;
}

a.highlight {
  color: var(--gradient-2) !important;
}

h1, h2, .main-text {
  color: var(--headers-text-color) !important;
}

.theme-dropdown {
  color: var(--headers-text-color) !important;
}

.theme-dropdown.dropdown-toggle::after {
  border-top-color: var(--headers-text-color) !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.dropdown.show .theme-dropdown.dropdown-toggle::after {
  transform: rotate(180deg);
}

.card-body .form-control {
  border: none;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
}